.App {
	font-family: Helvetica;
	text-align: center;
}

.mainWrapper {
	height: 100vh;
	width: 100vw;
}

.firstRow {
	background-color: #fdca40;
	display: flex;
	height: 50%;
}

.firstFrame {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0.5%;
	width: 40%;
}

.secondFrame {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 0.5%;
	width: 30%;
}

.thirdFrame {
	align-items: center;
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 0.5%;
	width: 30%;
}

.secondRow {
	background-color: #fdca40;
	display: flex;
	height: 5%;
}

.fourthFrame {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.executeButton {
	background-color: #31393c !important;
	border: none !important;
	display: flex;
	width: 99%;
}

.thirdRow {
	align-items: center;
	background-color: #fdca40;
	display: flex;
	height: 45%;
	justify-content: center;
	width: 100%;
}

.fifthFrame {
	background-color: white;
	display: flex;
	height: 95%;
	width: 99%;
}

.fifthFrameTerminal {
	background-color: white;
	height: 100%;
	resize: none;
	width: 100%;
}

.dragBox {
	background-color: #31393c !important;
	border-style: none !important;
	height: 10%;
	overflow: visible;
	width: 100%;
}

.secondFrameContent {
	height: 100%;
	overflow: auto;
	width: 100%;
}

.secondFrameCont {
	align-items: center;
	background-color: #2176ff !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.secondFrameContent thead[class*='ant-table-thead'] th {
	background-color: #2176ff !important;
	color: white !important;
}

.thirdFrameContent {
	height: 100%;
	overflow: auto;
	width: 100%;
}

.thirdFrameContent thead[class*='ant-table-thead'] th {
	background-color: #2176ff !important;
	color: white !important;
}

.thirdFrameCont {
	align-items: center;
	background-color: #2176ff !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}
