.App{
  text-align: center;
}
.mainWrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.firstRow{
  display: flex;
  height: 50%;
}

.firstFrame{
  width: 50%;
  height: 100%;
  background-color: steelblue;
  display: flex;
  flex-direction:column;

}

.secondFrame{
  width: 50%;
  height: 100%;
  background-color: teal;
}

.secondRow{
  display: flex;
  height: 50%;
}

.thirdFrame{
  width: 100%;
  background-color: chocolate;
}

.dragBox{
  border-style: dotted;
  inset-block-start: 10%;
  inset-block-end: 10%;
  opacity: 50%;
  width: 25%;
  height: 25%;
}

.dragBoxContent{
  text-align: left;
  white-space: pre-wrap;
  overflow: auto;
  width: 100%;
  background-color: gray;
}
